<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ru">
<head>
<meta charset="utf-8" />
<meta name="yandex-verification" content="cfcbd41cfacd067c" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="robots" content="all">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta data-vue-meta="ssr" property="og:title" content="Хочу в IT. Рекрутинговое агентство по подбору IT-специалистов" data-vmid="og:title">
<meta data-vue-meta="ssr" name="twitter:title" content="Хочу в IT. Рекрутинговое агентство по подбору IT-специалистов" data-vmid="twitter:title">
<meta data-vue-meta="ssr" name="aiturec:title" content="Хочу в IT. Рекрутинговое агентство по подбору IT-специалистов" data-vmid="aiturec:title">

<meta data-vue-meta="ssr" name="description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников." data-vmid="description">
<meta data-vue-meta="ssr" itemprop="description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников." data-vmid="description:itemprop">
<meta data-vue-meta="ssr" property="og:description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников." data-vmid="og:description">

<meta data-vue-meta="ssr" name="twitter:description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников." data-vmid="twitter:description">
<meta data-vue-meta="ssr" property="aiturec:description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников." data-vmid="aiturec:description">
<meta name="description" content="Рекрутинговое агентство по профессиональному подбору IT-специалистов любого грейда и любой сложности. Мы соберем Вашу команду мечты! Работаем с применением различных техник в части поиска и подбора персонала, используем как классические инструменты, так и современные методики для оценки и поиска сотрудников.">

<meta name="keywords" content="кадровое агентство, резюме, HR, вакансии, IT, работа, подбор персонала, оффер, рекрутер, рекрутинг, дешевый поиск персонала, разработчики, аутстафф, айти, быстрый поиск персонала, rflhjdjt futyncndj, htp.vt, HR, dfrfycbb, IT, hf,jnf, gjl,jh gthcjyfkf, jaath, htrhenth, htrhenbyu, ltitdsq gjbcr gthcjyfkf, hfphf,jnxbrb, fencnfaa, fqnb, ,scnhsq gjbcr gthcjyfkf, recruitment agency, resume, HR, vacancies, IT, job, recruitment, offer, recruiter, recruiting, cheap staff search, developers, outstaff, IT, quick staff search, кускгшеьуте фпутсн, куыгьу, РК, мфсфтсшуы, ШЕ, ощи, кускгшеьуте, щааук, кускгшеук, кускгшештп, сруфз ыефаа ыуфкср, вумудщзукы, щгеыефаа, ШЕ, йгшсл ыефаа ыуфкср">
<meta name="author" content="Andrei Golubenko Vitaly Garasuk">
<meta name="twitter:image" content="https://want2it.online/assets/images/logo/icon.png" />

<meta name="og:image" content="https://want2it.online/assets/images/logo/icon.png" />
<meta name="image" content="https://want2it.online/assets/images/logo/icon.png" />

<link rel="icon" href="https://want2it.online/assets/images/favicon.svg">
<link rel="shortcut icon" type="image/x-icon" href="https://want2it.online/assets/images/favicon.svg" />

<title>404 Error Page</title>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <style>

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.45rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .325rem;
  font-size: 0.975rem;
}

    </style>
</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->
            {% include 'header.html' %}

    <section class="error-page section">
        <div class="container vh-100">
            <div class="row">
                <div class="col-lg-7  col-md-9 col-12">
                    <!-- Error Image -->
                    <div class="error-image">
                        <img src="assets/images/build-7.gif" alt="#" width="90%">
                    </div>
                    <!--/ End Error Image -->
                </div>
                <div class="col-lg-5  col-md-9 col-12">
                    <!-- Error Text -->
                    <div class="error-text">
                        <h2><span>Извините!</span>Страница не найдена</h2>
                        <p>Ой! Страница, которую вы ищете, не существует. Возможно, она была перемещена или удалена.</p>
                        <div class="row my-auto">
                            <div class="col-6 my-auto">
                            <div class="button">
                            <a href="https://want2it.online" class="btn">На главную</a>
                        </div>   </div>
                            <div class="col-6 my-auto"><a href="javascript:history.go(-1)"><i class="bi bi-reply-fill fa-lg"></i> вернуться</a></div>
                        </div>
                    </div>
                    <!--/ End Error Text -->
                </div>
            </div>
        </div>
    </section>


            {% include 'footer.html' %}

</body>
</html>