{% extends 'home.html' %}
{% load static %}
{% block content %}
        <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-center">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">Оставить заявку</h2>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row" style="margin-top: -40px">
                <div class="col-sm-12 col-lg-6 offset-lg-3">
        <form method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label">Фамилия</label>
                {{ fb.surname }}
            </div>

            <div class="col-sm-6">
              <label class="form-label">Имя</label>
                {{ fb.name }}
            </div>

            <div class="col-12">
              <label class="form-label">Telegram</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                {{ fb.telegram }}
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Email</label>
                {{ fb.email }}
            </div>

            <div class="col-12">
              <label class="form-label">Компания <span class="text-muted">(Опционально)</span></label>
                {{ fb.company }}
            </div>

            <div class="col-md-5">
              <label class="form-label">Страна</label>
                {{ fb.country }}
            </div>

            <div class="col-md-7">
              <label class="form-label">Телефон</label>
              <div class="input-group has-validation">
                <span class="input-group-text">+</span>
                {{ fb.phone }}
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">Напишите свой вопрос</label>
                {{ fb.text }}
            </div>
          </div>
       <div class="form-check form-switch my-4" style="font-size: 16px">
                    {{ fb.conformation }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">Согласен(-а) на обработку персональных данных &nbsp;<a href="docs.html"><sup class="bi bi-box-arrow-up-right text-primary"></sup></a></label>
                </div>
          <hr class="my-4">

            <div class="button">
                <button class="btn w-100" type="submit" value="Submit">Отправить</button>
            </div>
        </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Services Area -->

    {% endblock %}